<!DOCTYPE html>
<html lang="en">

<head>
  <title>Project 1</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- fontawesome -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename ='css/bootstrap/bootstrap.min.css')}}"
    crossorigin="anonymous" />

  <link rel="stylesheet" href="{{ url_for('static', filename ='css/main.css')}}" crossorigin="anonymous" />
  {%block style %} {% endblock %}
  <style></style>
</head>

<body>
  <div id="wrapper">
    <div id="overlay">
      <!-- main menu -->
      <nav class="navbar main-menu navbar-expand-sm navbar-light">
        <!-- <a class="navbar-brand" href="{{url_for('admin')}}">
          <img src="{{ url_for('static', filename = 'img/logo.png')}}" alt="Logo" />
        </a> -->
        <!-- <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#mainMenu"
          aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('admin')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('search')}}">Search </a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btns actived" href="{{ url_for('signout')}}">Sign Out</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <!-- {%block body%} {%endblock%} -->
        <d iv class="row">
          <div class="message" style="height: 44px; background: transparent; width: 100%; margin: 10px 0;">
            {% with messages = get_flashed_messages() %} {%if messages%} {%for i in
            messages %}
            <div class="alert alert-success text-center" role="alert">
              <strong>{{i}}</strong>
            </div>
            {%endfor%} {%endif%} {%endwith%}
          </div>
      </div>
      <!--message row finish-->


      <div class="container" style="padding-top: 2%;">
        {%if dbdata %}

        <table class="table table-sm book-info-table">
          <thead class="thead-inverse">
            <!-- data from database -->
            {%for i in dbdata%}
            <tr>
              <!-- <th>Title</th> -->
              <th class="title" style="text-align: center;">{{i[2]}}</th>
            </tr>
          </thead>
          <tbody>
         
            {%endfor%}
          </tbody>
        </table>
        {%endif%}

      </div>

      <div>
        <div>
          <h1 style="text-align: center; font-family: fantasy ; font-style: italic; ">Reviews</h1>
          {%if dbreviews %} {%for i in dbreviews %}

          <div class="review-content" style="padding-top: 10%; margin-top: 10px;">
            <span>Name:</span>
            <span> {{i[0]}} </span>
            <span> Rating: </span>
            <span> {{i[1]}} </span>
            <span>Date: </span>
            <span> {{ i[4].strftime("%d %B, %Y") }} </span>
            <span>Comment:</span>
            <span> {{i[2]}} </span>
          </div>
          {%endfor%} {%else %}

          <h2 style="padding-bottom: 10%; text-align: center;">No reviews found</h2>
          {%endif%} 
        </div>
        <div style="margin: 0 auto;" >
          {%for i in dbdata%}
          <span class="new-review">Submit your review</span>
          <form action="{{  url_for('singleBook', isbn= isbn )  }}" method="POST" class="review-form" id="reviewForm">
            {%endfor%}
            <table class="table">
              <tr>
                <td>Rating</td>
                <td>
                  <input type="radio" class="form-check-input" name="rating" value="1" />
                  1 star <br />
                  <input type="radio" class="form-check-input" name="rating" value="2" />
                  2 star <br />
                  <input type="radio" class="form-check-input" name="rating" value="3" />
                  3 star <br />
                  <input type="radio" class="form-check-input" name="rating" value="4" />
                  4 star <br />
                  <input type="radio" class="form-check-input" name="rating" value="5" />
                  5 star <br />
                </td>
              </tr>
              <tr>
                <td>ISBN</td>
                <td>
                  {%for i in dbdata %}
                  <input type="text" class="form-control disabled" name="isbn" value="{{i[1]}}" readonly />
                  {%endfor%}
                </td>
              </tr>
              <tr>
                <td>Comment</td>
                <td>
                  <div class="comment">
                    <textarea placeholder="Write your comment here" class="form-control" name="comment"
                      rows="3"></textarea>
                  </div>
                </td>
              </tr>
            </table>
            <button type="submit" class="btn btns actived">Submit</button>
          </form>
        </div>
        {{dbemail}}
      </div>
      <div class="container">
        <!-- <div class="col-sm-12 col-md-3">
            <div class="book-cover">
              <img src="{{url_for('static', filename = 'img/')}}" />
            </div>
            <a href="#reviewForm" class="btn btns actived btn-block"> Write a review</a>
          </div>
          <div class="col-sm-12 col-md-9"> -->
        <!-- book info table -->
        {%if dbdata %}

        <table class="table table-sm book-info-table">
          <thead class="thead-inverse">
            <!-- data from database -->
            {%for i in dbdata%}
            <tr>
              <th>Title</th>
              <th class="title">{{i[2]}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Author</th>
              <td>{{i[3]}}</td>
            </tr>
            <tr>
              <th>Year</th>
              <td>{{i[4]}}</td>
            </tr>
            <tr>
              <th>ISBN</th>
              <td>
                <a href="{{url_for('api' , isbn  = i[1]) }}"> {{i[1]}}</a>
              </td>
            </tr>
            {%endfor%}

            <!-- data from apicall  -->
            {%if apidata %}
            <tr>
              <th>Total Reviews</th>
              <td>{{apidata['books'][0]['work_reviews_count']}}</td>
            </tr>
            <tr>
              <th>Total Ratings</th>
              <td>{{apidata['books'][0]['work_ratings_count']}}</td>
            </tr>
            <tr>
              <th>Average rating</th>
              <td>{{apidata['books'][0]['average_rating']}}</td>
            </tr>
            {%endif%}
          </tbody>
        </table>
        {%endif%}
      </div>
    </div>

    <!-- reviews section -->


    {{bookinfo}}
  </div>
  </div>
  </div>

  <div class="container-fluid footer">
    <div class="row">
      <div class="col-sm-12" style="padding: 0;">

      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename = 'js/jquery.js')}}" crossorigin="anonymous"></script>

  <script src="{{ url_for('static', filename = 'js/popper.js')}}"></script>

  <script src="{{ url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'js/main.js')}}"></script>
</body>

</html>